arviz
beautifulsoup4
gap-stat
imageio
ipytest
ipython
ipywidgets
jupyterlab
matplotlib
nltk
numpy
pandas
pillow
pymc3
requests
scikit-learn
scipy
seaborn
statsmodels
tensorflow
tensorflow-addons
tensorflow-datasets
tensorflow-hub
tf-keras-vis
torch
tqdm
transformers
